<header>
    <div class="container-fluid">
        <a routerLink="/" class="logo">
            <!-- <img src="assets/img/logo.png" alt=""> -->
            <div class="logo-text">Jungle Grooming</div>
        </a>
        <ul>
            <li><a routerLink="/">Home</a></li>
            <li><a routerLink="/about-us">About Us</a></li>
            <li><a routerLink="/our-products">Our Products</a></li>
            <li><a routerLink="/contact-us">Contact Us</a></li>
        </ul>
        <ul class="contacts">
            <li>
                <a href="tel:9784758659"><i class="fa-solid fa-phone"></i></a>
            </li>
            <li>
                <a href="mailto:ask@junglegrooming.com"><i class="fa-solid fa-envelope"></i></a>
            </li>
        </ul>
    </div>
</header>
