<footer>
    <div class="footer-top-block">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-4 f-links">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="f-lg mb-4">COMPANY</div>
                            <ul>
                                <li><a routerLink="/">Home</a></li>
                                <li><a routerLink="/about-us">About Us</a></li>
                                <li><a routerLink="/our-products">Our Products</a></li>
                                <li><a routerLink="/contact-us">Conatct Us</a></li>
                            </ul>
                        </div>
                        <div class="col-md-6">
                            <div class="f-lg mb-4">SUPPORT</div>
                            <ul>
                                <li><a href="#">Help + FAQs</a></li>
                                <li><a href="#">Shipping</a></li>
                                <li><a href="#">Returns</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-8 f-logo-description">
                    <div class="row h-100">
                        <div class="col-md-5 f-logo d-flex align-items-center justify-content-center border border-top-0 border-bottom-0">
                            <div>
                                <div class="footer-logo-block">
                                    <a href="#">
                                        <!-- <img src="assets/img/logo.png" alt=""> -->
                                        <div class="logo-text">Jungle Grooming</div>
                                    </a>
                                </div>
                                <div class="shares-block">
                                    <a href="#"><i class="fa-brands fa-facebook"></i></a>
                                    <a href="#"><i class="fa-brands fa-instagram"></i></a>
                                    <a href="#"><i class="fa-brands fa-twitter"></i></a>
                                    <a href="#"><i class="fa-brands fa-youtube"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-7 f-support-block">
                            <div>
                                <div class="f-lg mb-4">SUPPORT</div>
                            <div class="f-md mb-3">Stay in the loop with special offers,plant-parenting tips, and more.</div>
                            <a href="mailto:ask@junglegrooming.com"><i class="fa-solid fa-envelope"></i>
                                ask@junglegrooming.com</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bottom-block f-sm">
        &#169; 2022 | All rights Reserved
    </div>
</footer>