.contact-cnt-block {
    margin-bottom: 3rem;
    padding-bottom: 3rem;
    border-bottom: .1rem solid var(--light-gray-color);
}

.contact-cnt-block:nth-last-child(1) {
    margin-bottom: 0;
    padding-bottom: 0;
    border-bottom: 0;
}

.c-form {
    background-image: url('/assets/img/c-bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}