
<app-ip-banner ipTitle="About Us"></app-ip-banner>
<div class="container-fluid">
    <section class="gap-top position-relative">
        <img src="assets/img/about-big.jpg" alt="">
        <div class="big-image-cnt">
            <img src="assets/img/about-on-shift.png" alt="" class="shake-animation">
        </div>
    </section>
    <section class="gap-top-lg">
        <div class="text-center">
            <div class="row">
                <div class="col-md-9 mx-auto">
                    <div class="sub-title">JUNGLE GROOMING PHOTOSYNTHESIS STORIES</div>
                    <h2 class="gap-bottom-sm wbb">We connect buyers and sellers with suitable, eco-friendly
                        <span>products</span>
                    </h2>
                    <p>Nothing adds more beauty and comfort to our homes and offices than the lush flowers and foliage
                        of indoor
                        plants. Bedrooms, bathrooms, kitchens, cubicles… There really isn’t a space a houseplant can’t
                        enliven.
                        Just add light and water, and you’ve got a growing indoor oasis. Bringing plants into your home
                        is
                        aesthetically pleasing and – amazingly – plants can offer strong health benefits as well!</p>
                </div>
            </div>
        </div>
    </section>
</div>
<section class="gap-top gap-bottom-lg">
    <div class="container-fluid p-0">
        <div class="row m-0">
            <div class="col-md-4">
                <img src="assets/img/abt-1.jpg" alt="" class="shake-animation-v">
            </div>
            <div class="col-md-4">
                <img src="assets/img/abt-2.jpg" alt="" class="shift-bottom shake-animation-v">
            </div>
            <div class="col-md-4">
                <img src="assets/img/abt-3.jpg" alt="" class="shake-animation-v">
            </div>
        </div>
    </div>
</section>
