.ip-banner-wrapp {
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 24.8rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-position: left;
}