

<div class="container-fluid">
    <section>
        <app-full-width-carousel></app-full-width-carousel>
    </section>
    <section class="gap-top">
        <app-category-section></app-category-section>
    </section>
    <section class="gap-top">
        <app-product-slider PrdutSliderName="Most" ProductSliderNameSpan="Popular"></app-product-slider>
    </section>
    <section class="gap-top">
        <app-mid-banner></app-mid-banner>
    </section>
    <section class="gap-top">
        <app-category-big></app-category-big>
    </section>
</div>
<section class="gap-top">
    <app-service-banner></app-service-banner>
</section>
<div class="container-fluid gap-bottom">
    <section class="gap-top">
        <app-product-slider PrdutSliderName="Best" ProductSliderNameSpan="Seller"></app-product-slider>
    </section>
</div>
